:root {
  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color: #1f2937;
  background: #f7f8fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
